.flex-container {
	display: flex;
}
.justify-between {
	justify-content: space-between;
}
.card {
	background-color: #fff;
	border-radius: 6px;
	margin: 16px;
	padding: 16px;
}
.main-component {
	width: 80%;
}
.text-ceneter{
    text-align: center;
}
sidebar {
	width: 20%;
}
